body{
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
}

h4, dd, .checkbox label{
  font-weight: 200;
}

dt{
  font-weight: 400;
}

select, textarea, input{
  border-radius: 0 !important;
  font-weight: 200;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none !important;
}

select:focus, textarea:focus, input:focus{
  border-color: #CCC !important;
}

.container{
  margin:0 auto;
}

.sidebar{
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  min-height: 600px;
/*
  box-shadow: inset -1px 0 0 #e5e5e5;
  background-color: #f5f5f5;
*/
}

.sidebar .row h4{
  color: #808080;
  padding-left: 0px;
/* border-bottom: 2px solid #e5e5e5;
  border-bottom: 2px solid #F08080; 
  padding-bottom: 7px;
 */
}

.sidebar .row{
  border-bottom: 2px solid #20B2AA;
  margin-bottom: 10px;
}

.sidebar .progress{
  margin-bottom: 0px;
  margin-top: 12px;
  float: right;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

.sidebar .progress-bar{
  background-color: #F08080;
  border-radius: 0;
}

.criteria{
  background-color: #D3D3D3;
  min-height: 110px;
  margin: 20px 0px;
  padding-bottom: 5px;
}

.title{
  padding: 5px 0 ;
/*  color: #b94a48; 
  color: #F08080;*/
  color: #D3D3D3;
  margin-left: 15px;
  font-size: 33px;
  font-weight: bold;
  width: 140px;
  text-shadow: #FFF 0px 1px 0px;
}

.title:hover{
  color: #A9A9A9;
}

.content{
  margin-top: 40px;
}

.thumbnail{
  background-color: #D3D3D3;
  min-height: 265px;
  border-radius: 0;
}

.label{
  border-radius: 0;
}

.caption .detail{
  margin-top: 15px;
}

.caption .field{
  font-weight: bold;
  float: left;
  width: 65px;
}

.field-row{
  display: block;
}

.movie{
  margin-bottom: 20px;
  padding-right: 5px;
}

.movie h4{
  margin-top: 15px;
  margin-bottom: -5px;
  border-bottom: 1px solid #A9A9A9; 
  padding-bottom: 7px;
}

.rating{
  float: right;
  font-size: 14px;
  margin-top: -5px;
  margin-right: -5px;
  background-color: #F08080;
}

.rating .glyphicon{
  vertical-align: middle;
  color: #fff;
}

.first{
  margin-top: 10px;
}

.search-icon{
  position: relative;
  margin-top: -27px;
  display: inline-block;
  width: 28px;
  height: 14px;
  line-height: 14px;
  vertical-align: middle;
  background-color: transparent;
  font-size: 20px;
  color: #20B2AA;
  float: right;
}

.collection{
  margin-right: 1px;
}

.outline {
  display: block;
  position: absolute;
  left: 15px;
  height: auto;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  -webkit-transition: opacity .25s ease-in;
  -ms-transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -o-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px 15px;
  text-align: center;
  margin-bottom: 0px;
  font-weight: 200;
}

.caption:hover .outline{
  opacity: 1;
}

.caption:hover .detail{
  opacity: 0;
}

.runtime{
  display: block;
  margin-top: 10px;
  font-weight: 200;
  font-size: 15px;
  color: #F08080;
}

.runtime .glyphicon{
  vertical-align: middle;
  margin-right: 3px;
}

.criteria h4{
  border-bottom: 1px solid #A9A9A9;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 10px;
  color: #808080;
}

.ui-widget-header{
  background: none;
  background-color: #20B2AA;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  background: none;
  background-color: #A9A9A9;
}

.slider{
  margin: 0 20px;
}

.slider-label{
  display: block;
  text-align: center;
  font-weight: 200;
}

.criteria .checkbox{
  margin-left: 20px;
}

.criteria select{
  margin-left: 10px;
}

