body {
	margin:0;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
  background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAASwAA/+4ADkFkb2JlAGTAAAAAAf/bAIQAAwICAgICAwICAwUDAwMFBQQDAwQFBgUFBQUFBggGBwcHBwYICAkKCgoJCAwMDAwMDA4ODg4OEBAQEBAQEBAQEAEDBAQGBgYMCAgMEg4MDhIUEBAQEBQREBAQEBARERAQEBAQEBEQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQ/8AAEQgAQAAYAwERAAIRAQMRAf/EAGAAAQEBAQAAAAAAAAAAAAAAAAACAQgBAQEBAAAAAAAAAAAAAAAAAAAEBRABAAIBAgUEAwAAAAAAAAAAARECIQASMUFxIgPwUWGRMkIjEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDu0vvCoFKZ3AQ0sOfX3q1ntdzuK1qsf0oIUY/YhnhoCF7G6+2tsHljtI41jqaA9oEs2Br5GH8mAsVknOgmKE1CwIFZd162cRykzM6AlJuVDObU52qQyBieug3BdbBuvDfbwtU9n3mdAreVvXyDBhjKRLV+dBLYBSvaK244ZmT4Y0FF94VApTO4CGlhz6+9BrudxWtVj+lBCjH7EM8NAQvY3X21tg8sdpHGsdTQHtAlmwNfIw/kwFisk50ExQmoWBArLuvWziOUmZnQEpNyoZzanO1SGQMT10G4LrYN14b7eFqns+8zoFbyt6+QYMMZSJavzoJbAKV7RW3HDMyfDGgovvCoFKZ3AQ0sOfX3oNdzuK1qsf0oIUY/YhnhoCF7G6+2tsHljtI41jqaA9oEs2Br5GH8mAsVknOgmKE1CwIFZd162cRykzM6AlJuVDObU52qQyBieug//9k=);
}
html, body {
	margin:0;
	padding:0;
	height:100%;
}
.clear {
	clear:both;
}
h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin:0px;
	padding:0px;
}

.header_name{
  position: relative;
  text-align: center;
  top: 20px;
	margin:0 auto;
  font: normal 30px/18px "Lobster1.4Regular", Georgia, "Times New Roman", serif;
  color: #4C4328;
  text-shadow: #FFF 1px 1px 0;
}

.container {
	width:920px;
	padding:20px 30px 30px 30px;
	margin:50px auto;
	border-radius:5px;
	position:relative;
	box-shadow:0px 2px 5px #333;
  background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAASwAA/+4ADkFkb2JlAGTAAAAAAf/bAIQAAwICAgICAwICAwUDAwMFBQQDAwQFBgUFBQUFBggGBwcHBwYICAkKCgoJCAwMDAwMDA4ODg4OEBAQEBAQEBAQEAEDBAQGBgYMCAgMEg4MDhIUEBAQEBQREBAQEBARERAQEBAQEBEQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQ/8AAEQgAIAAgAwERAAIRAQMRAf/EAF8AAQEBAQAAAAAAAAAAAAAAAAEAAgkBAQAAAAAAAAAAAAAAAAAAAAAQAQABBAEDAgcAAAAAAAAAAAERACExAkFRYRJxoYGRsSIyQgMRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AOgKhPkiWhjLnvQAJua6h9J4j5UDeQYIwpHafegE1FIYZja9u80Ebbaxt4wDg6db0DOxP6PKTx1t2oGAJGA4wk0GV/KckZjrzmgTbR1luTnD79u9Bamu3jsASRbjpQZclpbRhn2oAbePje9gGOKB285VL4ZuM+npQIl3VULWvw3oJeJuEOIBfjmgjb7o/nxZgjNy9B//2Q==);
}
.fs_box {
	width:202px;
	height:auto;
	float:left;
	margin-left:20px;
	margin-bottom:10px;
	padding:9px 9px 30px;
}
.fs_box:hover {
	background:#EEF;
	border-radius:5px;
	box-shadow:1px 1px 3px #c4c4c4;
}
.fs_left {
	width:150px;
	float:left;
}
.fs_price {
	width:44px;
	float:left;
	text-align:right;
	color:#9e0b0f;
	font-size:16px;
	font-weight:bold;
	margin-top:2px;
}
.fs_left span {
	float:left;
	width:100%;
	margin-top:5px;
}
.fs_left span.fs_head {
	color:#003471;
	text-decoration:none;
}
.fs_left span.fs_for {

	color:#707070;
	font-style:italic;
}
.fs_left span.fs_disc {
	color:#000;
	font-style:italic;
	width:195px;
}

.featured_services_find {
	width:720px;
	float:right;
	margin-right:-10px;
}
.featured_list_find a {
	text-decoration:none;
}
.sidebar_bar {
	float:left;
	width:220px;
	margin-left:-10px;
}
.sidebar_left_find {
	float:left;
	width:180px;
	background:#e8f6f7;
	border-radius:5px;
	padding:10px 20px 0px 20px;
}
.sidebar_list {
	float:left;
	width:100%;
	margin-bottom:20px;
}
.sidebar_list h3 {
	font-family: 'Crimson Text', serif;
	font-weight: 400;
	font-size:18px;
	margin-bottom:9px;
}
.sidebar_list ul {
	width:100%;
	float:left;
}
.sidebar_list ul li {
	list-style:none;
	width:100%;
	float:left;
	margin-bottom:2px;
}
.sidebar_list ul li input {
	float:left;
}
.sidebar_list ul li span {
	float:right;
	width:150px;
	margin:2px 0px 0px 5px;
	display:inline !important;
}
.sidebar_list p {
	margin-top:5px;
	font-weight:bold;
	float:left;
}
.sidebar_list p a {
	text-decoration:none;
	color:#004a80;
	margin-left:25px;
}

#gmap{
  height: 300px;
  margin:0  0 20px 20px;
}
.result_count{
  color: #222;
  text-align: center;
  font-family: 'crimson Text', serif;
  font-weight: normal;
}
.searchbox{
  line-height: 20px;
  width: 170px;
  height: 20px;
  font-size: 15px;
}
h2{
  text-align: center;
}
